<mat-card (click)="clicked()" [class.active]="isActive()">
    <mat-card-content>
        <div class="column">
            <div>
                <!-- {{flight.departureAerodrome}}
                -
                {{flight.arrivalAerodrome}} -->
                <mat-icon>airplanemode_active</mat-icon>
                {{flight.aircraft.registration}}
            </div>
            <div>
                <mat-icon>calendar_today</mat-icon>
                {{flight.flightDate}}
            </div>
        </div>
        <div class="column">
            <div>
                {{flight.departureAerodrome}}
                -
                {{flight.arrivalAerodrome}}
                <mat-icon>map</mat-icon>
            </div>
            <div>
                {{flight.totalTime}}
                <mat-icon>access_time</mat-icon>
            </div>
        </div>
  </mat-card-content>
</mat-card>