<div class="container py-2">
    <div class="alert alert-info" role="alert">
        <p class="mb-0">This flight planner is currently in it's early version, thus it may contain some errors. Always verify data calculated by this form.</p>
    </div>
    <div class="alert alert-danger text-center" role="alert">
        <p class="mb-0">NOT FOR OPERATIONAL USE</p>
    </div>
    <div class="row gy-1">
        <div class="col-md rounded p-2">
            <h2>1. Flight conditions</h2>
            <p class="text-muted">
                Put your flight's conditions in the form below. These will be used to calculate the flight plan.
            </p>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">Wind direction (°)</th>
                            <td><input class="form-control" type="number" value="flightPlan()?.windDirection" (input)="setValue('windDirection', $event.target.value)"></td>
                        </tr>
                        <tr>
                            <th scope="row">Wind speed (kts)</th>
                            <td><input class="form-control" type="number" value="flightPlan()?.windSpeed" (input)="setValue('windSpeed', $event.target.value)"></td>
                        </tr>
                        <tr>
                            <th scope="row">TAS</th>
                            <td><input class="form-control" type="number" value="flightPlan()?.tas" (input)="setValue('tas', $event.target.value)"></td>
                        </tr>
                        <tr>
                            <th scope="row">Avg. Fuel burn (L/h)</th>
                            <td><input class="form-control" type="number" value="flightPlan()?.fuelConsumption" (input)="setValue('fuelConsumption', $event.target.value)"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-12 rounded p-2">
            <h2>2. Route</h2>
            <p class="text-muted">
                Provide the route for your flight. The route will be used to calculate the distance and course.
            </p>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Distance</th>
                            <th>To</th>
                            <th>Course (Geographic)</th>
                            <th>Magnetic declination</th>
                            <th> - </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control" type="text" value="{{currentLeg()?.from}}" (input)="setLegValue('from', $event.target.value.toUpperCase())"></td>
                            <td><input class="form-control" type="number" value="{{currentLeg()?.distance}}" (input)="setLegValue('distance', $event.target.value)"></td>
                            <td><input class="form-control" type="text" value="{{currentLeg()?.to}}" (input)="setLegValue('to', $event.target.value.toUpperCase())"></td>
                            <td><input class="form-control" type="number" value="{{currentLeg()?.course}}" (input)="setLegValue('course', $event.target.value)"></td>
                            <td><input class="form-control" type="number" value="{{currentLeg()?.magneticDeclination}}" (input)="setLegValue('magneticDeclination', $event.target.value)"></td>
                            <td><button class="btn btn-primary" (click)="addLeg()">ADD</button></td>
                        </tr>

                    </tbody>
                </table>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">From</th>
                            <th rowspan="2">To</th>
                            <th colspan="5">Course</th>
                            <th colspan="2">Distance</th>
                            <th rowspan="2">GS</th>
                            <th rowspan="2">Time</th>
                            <th rowspan="2">Fuel</th>
                        </tr>
                        <tr>
                            <th>Geographic</th>
                            <th>+/-</th>
                            <th>Magnetic</th>
                            <th>Wind</th>
                            <th>Steer</th>
                            <th>Total</th>
                            <th>5'</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (leg of flightPlan()?.legs; track leg) {
                            <tr>
                                <td>{{leg.from}}</td>
                                <td>{{leg.to}}</td>
                                <td>{{leg.course}}</td>
                                <td>{{leg.magneticDeclination}}</td>
                                <td>{{leg.magneticCourse}}</td>
                                <td>{{leg.windCorrection}}</td>
                                <td>{{leg.steerCourse}}</td>
                                <td>{{leg.distance}}</td>
                                <td>{{leg.fiveMinuteDistance}}</td>
                                <td>{{leg.groundSpeed}}</td>
                                <td>{{leg.time}}</td>
                                <td>{{leg.fuel}} l</td>
                            </tr>
                        }
                    </tbody>
                    <tbody>
                        <tr>
                            <th colspan="7" class="text-center">Total</th>
                            <th>Distance</th>
                            <th colspan="2"></th>
                            <th>Time</th>
                            <th>Fuel</th>
                        </tr>
                        <tr>
                            <th colspan="7" class="text-center">Total</th>
                            <th>{{summary().totalDistance}}</th>
                            <th colspan="2"></th>
                            <th>{{summary().totalTime}}</th>
                            <th>{{summary().totalFuel}}</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>