mat-card{
    font-family: sans-serif;
    display: inline-block;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--mat-sys-background);
    width: 100%;
    mat-card-content{
        display: flex;
        justify-content: space-between;
        div.column{
            justify-content: space-between;
            vertical-align: middle;
            div{
                display: flex;
                gap: 15px;
            }
        }
    }
}
mat-card.active{
    background-color: var(--mat-sys-surface-container);
    font-weight: bold;
}