.landing-page{
    width: 100%;
    padding: 0;
    margin: 0;
}
div h1{
    margin: 0;
}
.hero{
    height: 80vh;
    // background-color: var(--background-secondary-color);
    // color: var(--text-color-reversed);
}