<tr>
  <td colspan="7">Total from this page</td>
  <td>{{ summary()?.thisPageSummary?.singlePilotSE?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.singlePilotSE?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.singlePilotME?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.singlePilotME?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.multiPilot?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.multiPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.total?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.total?.slice(0,5) : '' }}</td>
  <td></td>
  <td>{{ summary()?.thisPageSummary?.landingsDay || '' }}</td>
  <td>{{ summary()?.thisPageSummary?.landingsNight || '' }}</td>
  <td>{{ summary()?.thisPageSummary?.night?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.night?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.ifr?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.ifr?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.pic?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.pic?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.coPilot?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.coPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.dual?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.dual?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.thisPageSummary?.instructor?.slice(0,5) !== '00:00' ? summary()?.thisPageSummary?.instructor?.slice(0,5) : '' }}</td>
  <td></td>
</tr>
<tr>
  <td colspan="7">Total from previous pages</td>
  <td>{{ summary()?.previousPagesSummary?.singlePilotSE?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.singlePilotSE?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.singlePilotME?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.singlePilotME?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.multiPilot?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.multiPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.total?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.total?.slice(0,5) : '' }}</td>
  <td></td>
  <td>{{ summary()?.previousPagesSummary?.landingsDay || '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.landingsNight || '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.night?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.night?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.ifr?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.ifr?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.pic?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.pic?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.coPilot?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.coPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.dual?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.dual?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.previousPagesSummary?.instructor?.slice(0,5) !== '00:00' ? summary()?.previousPagesSummary?.instructor?.slice(0,5) : '' }}</td>
  <td></td>
</tr>
<tr>
  <td colspan="7">Total summary</td>
  <td>{{ summary()?.totalSummary?.singlePilotSE?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.singlePilotSE?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.singlePilotME?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.singlePilotME?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.multiPilot?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.multiPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.total?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.total?.slice(0,5) : '' }}</td>
  <td></td>
  <td>{{ summary()?.totalSummary?.landingsDay || '' }}</td>
  <td>{{ summary()?.totalSummary?.landingsNight || '' }}</td>
  <td>{{ summary()?.totalSummary?.night?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.night?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.ifr?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.ifr?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.pic?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.pic?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.coPilot?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.coPilot?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.dual?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.dual?.slice(0,5) : '' }}</td>
  <td>{{ summary()?.totalSummary?.instructor?.slice(0,5) !== '00:00' ? summary()?.totalSummary?.instructor?.slice(0,5) : '' }}</td>
  <td></td>
</tr>