@if(isMobile()){
<div class="mobile-header">
    <button (click)="drawerOpened.set(!drawerOpened())" matIconButton aria-label="A button with a menu icon, used to open drawer">
        <mat-icon>menu</mat-icon>
    </button>
</div>
}
<div class="aircraft-page">
    <mat-drawer-container>
        <mat-drawer mode="side" opened="{{!isMobile() || drawerOpened() || !selectedAircraft()}}">
            <app-aircraft-list [aircraft]="aircraft" [selectedAircraft]="selectedAircraft"></app-aircraft-list>
        </mat-drawer>
        <mat-drawer-content>
            <app-aircraft-details [aircraft]="selectedAircraft"></app-aircraft-details>
        </mat-drawer-content>
    </mat-drawer-container>

</div>