.aircraft-page{
    min-height: 80vh;
    display: flex;
    width: 100%;
    // padding: 15px;
}
.mobile-header{
    padding: 15px;
    background-color: var(--mat-sys-background);
}
mat-drawer-container{
    width: 100%;
}
mat-drawer{
    border-radius: 0;
}