.itemDetails{
    background-color: var(--mat-sys-surface-container-lowest);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
    mat-card{
        mat-button-toggle{
            margin-right: 10px;
        }
        outline: none;
        box-shadow: none;
        background-color: var(--mat-sys-surface-container-lowest);
        mat-card-header{
            display: flex;
            justify-content: space-between;
        }
        mat-card-content{
            margin-top: 1rem;
            table{
                width: 100%;
                border-collapse: collapse;
                td, th{
                    width: 50%;
                    padding: .5rem;
                    border: 1px solid var(--mat-sys-outline-variant);
                    height: 3.5rem;
                }
                td[contenteditable=true]{
                    background-color: var(--mat-sys-surface-container-low);
                }
                tr:hover{
                    background-color: var(--mat-sys-surface-container-low);
                }
            }
            mat-form-field{
                display: inline;
            }
        }
    }
}
.itemDetails:has(div.noItemSelectedInfo){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
