@if(aircraft()!=null && !shimmer()){
    {{changes()?.aircraftType?.type}}
<div class="aircraftDetails">
    <mat-card>
        <mat-card-content>
            <div>
                @if(aircraft()?.canEdit == true){
                <mat-button-toggle [checked]="changes() !== null" (click)="switchEditing()" matIconButton  aria-label="">
                    <mat-icon>edit</mat-icon>
                    Tryb edycji
                </mat-button-toggle>
                <mat-button-toggle [disabled]="changes()==null" [checked]="false" (click)="saveChanges()" matIconButton  aria-label="">
                    <mat-icon>save</mat-icon>
                    Zapisz
                </mat-button-toggle>
                }
                @if(aircraft()?.canEdit != true){
                    <p>Edytować dane samolotu może tylko właściciel. Jeżeli jesteś właścicielem, prosimy o kontakt</p>
                }
            </div>
        </mat-card-content>
    </mat-card>
    @for(section of sections?.sections; track section.title){
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{section.title}}
            </mat-card-title>
            @if(section.subTitle){
            <mat-card-subtitle>
                {{section.subTitle}}
            </mat-card-subtitle>
            }

                <mat-icon>{{section.iconName}}</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <table>
            @for(row of section.table; track row.th){
                <tr>
                    <th>{{row.th}}</th>
                    <td
                        [attr.contenteditable]="row.editable && changes() ? 'true' : null"
                        [contenteditableChanges]="changes"
                        format="{{row.format}}"
                        (input)="row.onInput?.($event)"
                        contenteditableField="{{row.td}}">
                        {{ getFieldValue(row.td) }}
                        <div class="autocomplete" *ngIf="row.autocomplete && suggestions[row.td]?.length && changes()">
                            <div class="item"
                                *ngFor="let s of suggestions[row.td]">
                                {{ s }}
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </table>
        </mat-card-content>
    </mat-card>
    }
</div>
}

@if(shimmer() && aircraft()!=null){
    <app-shimmering-details></app-shimmering-details>
}

@if(aircraft()==null){
<div class="aircraftDetails">
    <div class="noAircraftSelectedInfo">
        Nie wybrano żadnego statku powietrznego
    </div>
</div>
}