.user-container, a{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    line-height: 60px;
    gap: 1rem;
    user-select: none;
    cursor: pointer;
    color: var(--text-primary);
    text-decoration: none;
}
span{
    font-size: 1rem;
}
mat-icon{
    margin-top: auto;
    margin-bottom: auto;
}