.user-container{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 120px;
    line-height: 60px;
    padding: 0 12px;
    user-select: none;
    cursor: pointer;
    color: var(--text-secondary-color);
}
span{
    font-size: 1rem;
}
mat-icon{
    margin-top: auto;
    margin-bottom: auto;
}
a{
    text-decoration: none;
}