<div class="container p-3">
    <div class="card user-select-none">
        <div class="card-header d-flex justify-content-between">
            <h2 class="display-6">
                Personal info
            </h2>
            <button class="btn btn-primary" (click)="editClick()" aria-label="Edit personal information">
                <i class="bi bi-pen" aria-hidden="true"></i>
            </button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img class="img img-thumbnail" src='{{(!user?.image?"blankavatar.svg":user?.image)}}' style="width: 150px; height: 150px;" alt="Profile picture">
                </div>
                <div class="col d-flex flex-column justify-content-center display-6">
                    <input type="text" class="form-control rounded-0" [(ngModel)]="user.firstName" (input)="onChange()" disabled={{!editing()}}>
                    <input type="text" class="form-control rounded-0" [(ngModel)]="user.lastName" (input)="onChange()" disabled={{!editing()}}>
                </div>
            </div>
        </div>
    </div>
</div>