footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    background-color: mat.get-color-from-palette(colors.$primary-palette, 500);
    padding: 15px;
    user-select: none;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
    vertical-align: middle;
}