footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    background-color: var(--background-secondary-color);
    color: var(--text-color-reversed);
    min-height: 200px;
    padding: 15px;
    user-select: none;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
    vertical-align: middle;
}