<div class="container">
    @if(changes()){
        <div class="alert alert-danger m-3" role="alert">
            You have made <b>unsaved</b> changes. Remember to save them using the button below.
        </div>
        <button class="btn btn-outline-success mx-3 px-5 py-2" (click)="saveChanges()">Save changes</button>
    }
    <div class="row">
        <div class="col-md-4">
            <user-info [user]="user()" (changed)="userChanged()"></user-info>
        </div>
        <div class="col-md-8">
            <user-address [user]="user()" (changed)="userChanged()"></user-address>
        </div>
    </div>

</div>