<div class="login-page">

  <div class="hero">

  </div>
  <div class="form">
    <div>
      @if (processing()) {
        <div class="processing">
          <div><mat-spinner></mat-spinner></div>
        </div>
      }
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="fields">
          <label for="email">E-mail</label>
          <input type="email" formControlName="email" id="email">
          <label for="password">Hasło</label>
          <input type="password" formControlName="password" id="password">

        </div>
        <div class="submit">
          <button type="submit">ZALOGUJ SIĘ</button>
        </div>
        <p>Logując się akceptujesz regulamin.</p>
        <div class="error">
          @if (form.get('password')?.errors?.['required']) {
            <p>Hasło jest wymagane</p>
          }
          @if (form.get('password')?.errors?.['minlength']) {
            <p>Hasło musi mieć min. 6 znaków</p>
          }
          @if (form.get('email')?.errors?.['required']) {
            <p>E-mail jest wymagany</p>
          }
          @if (form.get('email')?.errors?.['email']) {
            <p>Wpisz poprawny adres e-mail</p>
          }
        </div>
      </form>
      <mat-spinner></mat-spinner>
    </div>
  </div>

</div>