<div class="login-page">

    <div class="hero">
        
    </div>
    <div class="form">
        <div>
            <div class="processing" *ngIf="processing()">
                <div><mat-spinner></mat-spinner></div>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="fields">
                    <label for="email">E-mail</label>
                    <input type="email" formControlName="email" id="email">
                    <label for="password">Hasło</label>
                    <input type="password" formControlName="password" id="password">

                </div>
                <div class="submit">
                    <button type="submit">ZALOGUJ SIĘ</button>
                </div>
                <p>Logując się akceptujesz regulamin.</p>
                <div class="error">
                    <p *ngIf="form.get('password')?.errors?.['required']">Hasło jest wymagane</p>
                    <p *ngIf="form.get('password')?.errors?.['minlength']">Hasło musi mieć min. 6 znaków</p>
                    <p *ngIf="form.get('email')?.errors?.['required']">E-mail jest wymagany</p>
                    <p *ngIf="form.get('email')?.errors?.['email']">Wpisz poprawny adres e-mail</p>
                </div>
            </form>
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>