// .form{
//     background-color: var(--background-darker);
//     -webkit-box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     -moz-box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     border-radius: .3rem;
//     max-width: 350px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 10%;
//     padding: 3rem 2rem;
// }
.login-page{
    height: calc(100vh - 60px);
    padding-bottom: 60px;
    display: flex;
}
.hero{
    width: 70%;
    background-color: var(--background-secondary-color);
}
.form{
    width: 30%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .processing{
        background-color: var(--background);
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .error{
        color: red;
    }
    div.submit{
        text-align: center;
        button{
            margin-top: 20px;
            border-radius: .5rem;
            border: none;
            text-align: center;
            font-size: 20px;
            padding: 15px 30px;
            color: var(--text-color-reversed);
            background-color: var(--background-secondary-color);
            cursor: pointer;
        }
        button:hover{
            color: var(--text-color-reversed-highlighted);
        }
    }
    label{
        display: block;
        width: 100%;
        line-height: 50px;
        font-size: 20px;
    }
    input{
        line-height: 50px;
        font-size: 16px;
        width: 100%;
        border-radius: .3rem;
        border-width: 1px;
    }

}
@media screen and (max-width: 600px) {
    .hero{
        display: none;
    }
}