*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.app-container{
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
}
mat-sidenav{
    border-radius: 0;
    background-color: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface-container-lowest);
}
mat-sidenav-content{
    border-top: 1px solid var(--mat-sys-outline-variant);
    border-left: 1px solid var(--mat-sys-outline-variant);
}