<div class="flightDetails">

    <mat-card>
        <mat-card-content>
            <div>
                <mat-button-toggle disabled matIconButton>
                    <mat-icon>edit</mat-icon>
                    Tryb edycji
                </mat-button-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let _ of [1,2,3,4]">
        <mat-card-header class="shimmer-header">
            <mat-card-title class="shimmer-title">
            </mat-card-title>
            <mat-icon class="shimmer-icon"></mat-icon>
        </mat-card-header>


        <mat-card-content>
            <table class="shimmer-table">
            <tr>
                <th class="shimmer-th"></th>
                <td class="shimmer-td"></td>
            </tr>
            <tr>
                <th class="shimmer-th"></th>
                <td class="shimmer-td"></td>
            </tr>
            <tr>
                <th class="shimmer-th"></th>
                <td class="shimmer-td"></td>
            </tr>
            <tr>
                <th class="shimmer-th"></th>
                <td class="shimmer-td"></td>
            </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
