.addFlightPage{
    min-height: 80vh;
    form{
        padding: 1rem;
        display: grid;
        gap: 1rem;
        // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-transform: uppercase;
    }
    // background-color: var(--mat-sys-surface-container);
}
.fields{
    display: grid;
}
input.uppercase{
    text-transform: uppercase;
}
mat-card{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: inherit;
}
.fullWidthBTN{
    width: 100%;
    text-align: center;
    button{
        width: 20rem;
        font-size: 1.5rem;
    }
}