<div class="register-page">

  <div class="hero">

  </div>
  <div class="form">
    <div> 
      @if (processing()) {
        <div class="processing">
          <div><mat-spinner></mat-spinner></div>
        </div>
      }
      @if (loginNotice()) {
        <div class="processing" (click)="clearLoginNotice()">
          {{ loginNotice() }}
          <span>Kliknij aby powrócić do formularza..</span>
        </div>
      }
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Rejestracja</h1>
        <div class="fields">
          <div>
            <h2>Dane konta</h2>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Adres e-mail</mat-label>
              <input matInput formControlName="email" type="email" />
              <mat-error *ngIf="form.get('email')?.hasError('required')">
                Adres e-mail jest wymagany
              </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('email')">
                Wprowadź poprawny adres e-mail
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Potwierdź adres e-mail</mat-label>
              <input matInput formControlName="confirmEmail" type="email" />
              <mat-error *ngIf="form.get('confirmEmail')?.hasError('required')">
                Potwierdzenie adresu e-mail jest wymagane
              </mat-error>
              <mat-error *ngIf="form.get('confirmEmail')?.hasError('email')">
                Wprowadź poprawny adres e-mail
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Hasło</mat-label>
              <input matInput formControlName="password" type="password" />
                <mat-error *ngIf="form.get('password')?.hasError('required')">
                  Hasło jest wymagane
                </mat-error>
                <mat-error *ngIf="form.get('password')?.hasError('minlength')">
                  Hasło musi mieć co najmniej 6 znaków
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Potwierdź hasło</mat-label>
              <input matInput formControlName="confirmPassword" type="password" />
              <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
                Potwierdzenie hasła jest wymagane
              </mat-error>
              <mat-error *ngIf="form.get('confirmPassword')?.hasError('passwordMismatch')">
                Hasła muszą być takie same
              </mat-error>
            </mat-form-field>
            <mat-card-actions class="full-width">
              <button matButton="filled" type="submit" class="full-width">Zarejestruj się</button>
            </mat-card-actions>
          </div>
          <div>
            
          </div>
        </div>
      </form>
    </div>
  </div>

</div>