// .form{
//     background-color: var(--background-darker);
//     -webkit-box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     -moz-box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     box-shadow: 8px 8px 12px -1px rgba(196, 196, 196, 1);
//     border-radius: .3rem;
//     max-width: 350px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 10%;
//     padding: 3rem 2rem;
// }
.register-page{
    display: flex;
}
.hero{
    width: 50%;
    background-color: var(--mat-sys-background);
}
.form{
    margin: 50px;
    padding: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: var(--mat-sys-surface-container-lowest);

    .processing{
        background-color: var(--mat-sys-background);
        flex-direction: column;
        justify-content: center;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        div{
            display: flex;
            justify-content: center;
        }
    }
    .full-width{
        width: 100%;
    }

}
@media screen and (max-width: 600px) {
    .hero{
        display: none;
    }
    .fields{
        display: block;
        div{
            padding: 10px 0px;
        }
    }
    .form{
        width: 90%;
        margin: 20px;
        padding: 20px;
    }
}
@media screen and (min-width: 600px) {
    .fields{
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            padding: 20px;
        }
    }
}