
<div id="flightDetails" style="overflow-y: scroll;">
    <header class="my-2">
        <button class="btn btn-danger rounded-0 w-100 p-3 mb-2" id="deselectButton" (click)="deselect()">Close</button>
        <div class="d-flex p-0 m-0">
            <button class="btn btn-outline-primary p-5 rounded-0" [class.active]="selectedWindow()==1" (click)="setWindow(1)" style="border-right: 0;"><i class="bi bi-bar-chart"></i></button>
            <button class="btn btn-outline-primary p-5 rounded-0" [class.active]="selectedWindow()==2" (click)="setWindow(2)"><i class="bi bi-map"></i></button>
        </div>
    </header>
        @if(selectedWindow()==1){
            @if(unsavedChanges()){
            <div class="mt-1 alert alert-danger" role="alert">
                <span>You have unsaved changes. Remember to save them before you select another airplane</span>
                Warning! The time doesn't self-calculate when changing the data from this window
            </div>
            }
        <div class="user-select-none">
            <header class="p-2 rounded bg-secondary text-light d-flex justify-content-between">
                Flight details
            </header>
            <div>
                <flight-info [flight]="flight" [unsavedChanges]="unsavedChanges" (flightModified)='flightModified.emit()'></flight-info>
            </div>
        </div>
    }
    @if(selectedWindow()==2){
        <div class="user-select-none">
            <header class="p-2 rounded bg-secondary text-light d-flex justify-content-between">
                Flight planner
            </header>
            <div>
                <flight-planner [flight]="flight"></flight-planner>
            </div>
        </div>
    }
</div>