<div class="flightList">
    <mat-card *ngFor="let _ of [0,1,2,3,4,5,6]">
    <mat-card-content>
        <div class="column">
            <div>
                <mat-icon class="shimmer-icon">calendar_today</mat-icon>
                <span class="shimmer-title">00000</span>
            </div>
            <div>
                <mat-icon class="shimmer-icon">airplanemode_active</mat-icon>
                <span class="shimmer-title">00000</span>
            </div>

        </div>
        <div class="column">
            <div>
                <mat-icon class="shimmer-icon">flight_takeoff</mat-icon>
                <span class="shimmer-title">00000</span>
            </div>
            <div>
                <mat-icon class="shimmer-icon">access_time</mat-icon>
                <!-- {{flight.totalTime}} -->
                <span class="shimmer-title">00000</span>
            </div>
        </div>
        <div class="column">
            <div>
                <mat-icon class="shimmer-icon">flight_landing</mat-icon>
                <span class="shimmer-title">00000</span>
            </div>
            <div>
                <mat-icon class="shimmer-icon">timelapse</mat-icon>
                <span class="shimmer-title">00000</span>
            </div>
        </div>

  </mat-card-content>
</mat-card>
</div>
