<div class="row p-0 m-0" >
  <div class="col-sm-3 m-0 p-0 border-end vh-100 d-flex flex-column justify-content-between">
      <ul class="nav m-0 p-0">
      @for (flight of flights; track flight) {
        <li
          flight-list-item
          [flight]="flight"
          (click)="flightSelected(flight.id)"
          [class]="'nav-item w-100 p-1 border-bottom user-select-none'"
          [class.bg-dark]="selectedFlight()?.id === flight.id"
          [class.text-light]="selectedFlight()?.id==flight.id"
          >
        </li>
      }
    </ul>
    <div class="p-0 m-0 d-flex">
      <button class="btn btn-primary rounded-0 p-4" [disabled]="currentPage() == 1" (click)="previousPage()"><i class="bi bi-arrow-left"></i></button>
      <button class="btn btn-primary rounded-0 p-4" [disabled]="currentPage() == totalPages()" (click)="nextPage()"><i class="bi bi-arrow-right"></i></button>
      <div class="w-100 d-flex flex-column justify-content-center text-center">
        Page: {{ currentPage() }} / {{ totalPages()}}
      </div>
    </div>
  </div>
  <div class="col-sm">
    @if(selectedFlight()){
      <flight-details [flight]="selectedFlight" [unsavedChanges]="unsavedChanges"></flight-details>
    }
  </div>


</div>
