ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        padding: 15px 10px;
        display: flex;
        gap: 15px;
        mat-icon{
            vertical-align: middle;
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}
.active{
    li{
        background-color: var(--mat-sys-secondary-container);
        color: var(--mat-sys-on-secondary-container);
    }
}