  <div>
    <ul>
      <a [routerLink]="'/'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><li>Strona Główna</li></a>
      @if (!loggedIn()) {
        <a [routerLink]="'/login'" [routerLinkActive]="['active']"><li>Logowanie</li></a>
        <a [routerLink]="'/register'" [routerLinkActive]="['active']"><li>Rejestracja</li></a>
      }
      @if (loggedIn()) {
        <a [routerLink]="'/dashboard'" [routerLinkActive]="['active']" ><li><mat-icon>dashboard</mat-icon><div>Panel</div></li></a>
        <a [routerLink]="'/aircraft'" [routerLinkActive]="['active']" ><li><mat-icon>flightmode_active</mat-icon><div>Samoloty</div></li></a>
        <a [routerLink]="'/flights'" [routerLinkActive]="['active']" ><li><mat-icon>flight_takeoff</mat-icon><div>Loty</div></li></a>
        <a [routerLink]="'/account'" [routerLinkActive]="['active']" ><li><mat-icon>person</mat-icon><div>Konto</div></li></a>
      }
    </ul>
  </div>