  <div>
    <ul>
      <a [routerLink]="'/'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><li>Strona Główna</li></a>
      @if (!loggedIn()) {
        <a [routerLink]="'/login'" [routerLinkActive]="['active']"><li>Logowanie</li></a>
        <a [routerLink]="'/register'" [routerLinkActive]="['active']"><li>Rejestracja</li></a>
      }
      @if (loggedIn()) {
        <a [routerLink]="'/dashboard'" [routerLinkActive]="['active']" ><li>Panel</li></a>
        <a [routerLink]="'/flights'" [routerLinkActive]="['active']" ><li>Loty</li></a>
        <a [routerLink]="'/account'" [routerLinkActive]="['active']" ><li>Konto</li></a>
      }
    </ul>
  </div>