mat-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: var(--mat-sys-surface-container-lowest);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 60px;
    gap: 15px;
    font-size: 16px;
}
li{
    transition-duration: .2s;
    cursor: pointer;
}
a{
    text-decoration: none;
}
div{
    display: flex;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}