:root{
    --text-black-color: #222222;
    --text-secondary-color: #555555;
    --background-secondary-color: #242424;
    --text-secondary-color-hover: #000000;
    --text-color-reversed: #dadada;
    --text-color-reversed-highlighted: #fff;
    --background: #f5f5f5;
    --background-darker: #dbdbdb;
}
body{
    margin: 0;
    padding: 0;
}