
@use '@angular/material' as mat;
@use 'sass:map';
@use './theme-colors' as colors;

@include mat.core();

html {
  @include mat.theme((
    color: mat.m2-define-light-theme((
      primary: colors.$primary-palette,
    )),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
