
@use '@angular/material' as mat;
@use 'sass:map';
@use './theme-colors' as colors;

@include mat.core();

html {
  @include mat.theme((
    color: mat.m2-define-light-theme((
      primary: colors.$primary-palette,
    )),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  // background-color: var(--mat-sys-background);
  background-color: white;
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.no-subscript {
  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
