<div class="container p-4">
    <div class="border rounded shadow-sm bg-light text-center p-3 my-2">
        <h1><i class="bi bi-file-earmark-post me-2"></i>Licenses and endorsements</h1>
        <p>You can store information about your licenses using this page.</p>
    </div>
    <div class="border rounded shadow-sm bg-light p-3 my-2 row mx-0">
        <div class="col-md">
            <h2>PPL(A) - Private Pilot's license (Airplanes)</h2>
            <table class="table table-light">
                <tbody>
                    <tr>
                        <td>Date of issue</td>
                        <td>2025-01-01</td>
                    </tr>
                    <tr>
                        <td>License number</td>
                        <td>{{license()?.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <h2>Endorsements</h2>
            <div class="row">
                @for (endorsement of license()?.endorsements; track endorsement) {
                <div class="col-md-6 p-3 m-1 border rounded shadow-sm bg-light text-cente">
                    <h2>{{ endorsement.name }}</h2>
                        <table class="table table-light">
                            <tbody>
                                <tr>
                                    <td>Valid until</td>
                                    <td>{{endorsement.expirationDate.toString().split("T")[0]}}</td>
                                </tr>
                                @if(endorsement.flightHoursReneval){
                                <tr>
                                    <td>Extension status</td>
                                    <td>
                                        <ul class="m-0 p-0 list-unstyled">
                                            <li [ngClass]="endorsement.extensionStatus[0] ? 'text-success' : 'text-danger'"><i [ngClass]="endorsement.extensionStatus[0] ? 'bi bi-check-square me-2' : 'bi bi-x-square me-2'"></i>12h TOTAL</li>
                                            <li [ngClass]="endorsement.extensionStatus[1] ? 'text-success' : 'text-danger'"><i [ngClass]="endorsement.extensionStatus[1] ? 'bi bi-check-square me-2' : 'bi bi-x-square me-2'"></i>6H PIC</li>
                                            <li [ngClass]="endorsement.extensionStatus[2] ? 'text-success' : 'text-danger'"><i [ngClass]="endorsement.extensionStatus[2] ? 'bi bi-check-square me-2' : 'bi bi-x-square me-2'"></i>1h DUAL</li>
                                            <li [ngClass]="endorsement.extensionStatus[3] ? 'text-success' : 'text-danger'"><i [ngClass]="endorsement.extensionStatus[3] ? 'bi bi-check-square me-2' : 'bi bi-x-square me-2'"></i>12 T/O</li>
                                        </ul>
                                    </td>
                                </tr>}
                            </tbody>
                        </table>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- <div class="row my-2">
        <div class="col-md-4 p-3 m-1 border rounded shadow-sm bg-light text-center">
            <h2>PPL(A)</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Date of issue</td>
                        <td>2025-01-01</td>
                    </tr>
                    <tr>
                        <td>License number</td>
                        <td>PL.FCL.71109.PPL(A)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 p-3 m-1 border rounded shadow-sm bg-light text-center">
            <h2>SEP(L)</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Valid until</td>
                        <td>2027-01-01</td>
                    </tr>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>